FACODI_IMAGE=facodi-odoo:local
FACODI_MODULES=facodi_learning,facodi_theme
POSTGRES_USER=odoo
POSTGRES_PASSWORD=change-me
ODOO_DB=facodi
ODOO_ADMIN_PASSWD=change-me-too
ODOO_PORT=8069
ODOO_GEVENT_PORT=8072
ODOO_WORKERS=2
ODOO_MAX_CRON_THREADS=1
ODOO_HEALTHCHECK_URL=http://127.0.0.1:8069/web/login
