[submodule "addons/facodi-learning"]
	path = addons/facodi-learning
	url = https://github.com/marcelo-m7/facodi-learning.git
[submodule "addons/facodi-theme"]
	path = addons/facodi-theme
	url = https://github.com/marcelo-m7/facodi-theme.git
[submodule "vendor/odoo-design-themes"]
	path = vendor/odoo-design-themes
	url = https://github.com/odoo/design-themes.git
	branch = 19.0
